<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Simulador3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <Simulador3.Properties.Settings>
      <setting name="Celdas" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="nTinic" serializeAs="String">
        <value>1.75</value>
      </setting>
      <setting name="FilasMatrices" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ColumnasMatrices" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="NombreFiguras" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="ColorCeldasMatrices" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="SizeMatrix" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="Place" serializeAs="String">
        <value />
      </setting>
      <setting name="Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Title" serializeAs="String">
        <value />
      </setting>
      <setting name="nFiguras" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="NúmeroMatrices" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ShowTimeMatrices" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="BlankTimeMatrices" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ConstanteMatrices" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DerechaMatrices" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="ConstanteFiguras" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlankTimeFiguras" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="gruposBinarios" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="VerticalLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HorizontalLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServiceClient" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Host" serializeAs="String">
        <value>5.196.15.46:8081</value>
      </setting>
      <setting name="VectorModeShapes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ColorShapes1" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ColorShapes2" serializeAs="String">
        <value>151, 75, 0</value>
      </setting>
      <setting name="ColorShapes3" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ColorShapes4" serializeAs="String">
        <value>255, 140, 85</value>
      </setting>
      <setting name="ColorShapes5" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="ColorShapes6" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="ColorShapes7" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="ColorShapes8" serializeAs="String">
        <value>Purple</value>
      </setting>
      <setting name="ColorShapes9" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="ColorShapes10" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="CheckButtonEnabledInCompetition" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CompetitionResultsUrl" serializeAs="String">
        <value>http://www.smcompetition.com/SpeedMemoryPortal/detailed-data-competition-simulator</value>
      </setting>
      <setting name="PublicVersionApp" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="TrainingModeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TestModeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SchoolAndGroupsModeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExhibitionModeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OfficialCompetitionEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </Simulador3.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>